#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt {
};

&mt { flavor = "balanced"; };

/ {
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E             &kp R  &kp T      &kp Y      &kp U  &kp I              &kp O    &kp P     &kp BACKSPACE
&kp LEFT_ALT    &kp A  &kp S  &kp D             &kp F  &kp G      &kp H      &kp J  &kp K              &kp L    &kp SEMI  &kp RIGHT_ALT
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C             &kp V  &kp B      &kp N      &kp M  &kp COMMA          &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                              &kp LEFT_CONTROL  &mo 1  &kp SPACE  &kp SPACE  &mo 1  &kp RIGHT_CONTROL
            >;
        };

        upper {
            bindings = <
&kp ESCAPE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_0   &kp HOME        &kp UP_ARROW      &kp END            &kp MINUS      &kp EQUAL         &kp DELETE
&trans      &caps_word    &trans        &kp GRAVE     &kp PAGE_UP   &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN_ARROW    &kp RIGHT_ARROW    &kp DOT        &kp SINGLE_QUOTE  &trans
&trans      &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9   &kp INSERT      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &kp KP_SLASH      &trans
                                        &trans        &mo 3         &kp ENTER      &kp ENTER       &mo 3             &trans
            >;

            label = "Upper";
        };

        kb_control_layer {
            bindings = <
&bootloader     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none  &none  &none  &none  &none  &bootloader
&sys_reset      &none         &none         &none         &none         &bt BT_NXT    &none  &none  &none  &none  &none  &sys_reset
&bt BT_CLR_ALL  &bt BT_CLR    &none         &none         &none         &bt BT_PRV    &none  &none  &none  &none  &none  &studio_unlock
                                            &none         &none         &to 0         &to 0  &none  &none
            >;

            label = "KBCTRL";
        };

        flayer {
            bindings = <
&kp F11  &kp F1  &kp F2  &kp F3  &kp F4  &kp F10  &trans  &trans  &trans  &kp F14  &kp F15  &trans
&kp F12  &trans  &trans  &trans  &trans  &to 2    &to 2   &trans  &trans  &kp F16  &kp F17  &trans
&trans   &kp F5  &kp F6  &kp F7  &kp F8  &kp F9   &trans  &trans  &trans  &trans   &trans   &trans
                         &trans  &trans  &trans   &trans  &trans  &trans
            >;

            label = "F";
        };

        nrow_plus_layer {
            bindings = <
&trans  &kp NUMBER_1      &kp NUMBER_2      &kp NUMBER_3      &kp NUMBER_4      &kp NUMBER_5      &kp NUMBER_6      &kp NUMBER_7      &kp NUMBER_8      &kp NUMBER_9      &kp NUMBER_0      &trans
&trans  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(NUMBER_5)  &kp LS(NUMBER_6)  &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &kp LS(NUMBER_0)  &trans
&trans  &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans
                                            &trans            &trans            &trans            &trans            &trans            &trans
            >;

            label = "NRowPlus";
        };
    };
};
